body {
    font-family: Arial, sans-serif;
    background:#111;
    color:white;
    margin:0;
}

header {
    text-align:center;
    padding:60px 20px;
}

.filter {
    text-align:center;
    margin-bottom:30px;
}

button {
    background:white;
    border:none;
    padding:10px 18px;
    margin:5px;
    border-radius:20px;
    cursor:pointer;
}

#video-container {
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
    padding:30px;
}

.card {
    background:#1d1d1d;
    border-radius:15px;
    overflow:hidden;
    transition:.3s;
}

.card:hover {
    transform:translateY(-5px);
}

.card img {
    width:100%;
    display:block;
}

.info {
    padding:15px;
}

.category {
    color:#aaa;
    font-size:14px;
}

a {
    color:white;
    text-decoration:none;
}

/* 分頁按鈕外框 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 40px 0;
}

/* 分頁按鈕基礎樣式*/
.pagination button {
  padding: 8px 14px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #5B6574;
  border-radius: 18px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
} 

/* 滑鼠懸停(深色)
.pagination button:hover:not(:disabled) {
  background-color: #333;
  color: #fff;
  border-color: #333;
}*/
/* 分頁按鈕基礎樣式(淺色) */
.pagination button:hover:not(:disabled) {
    background: #eef6fb;
    border-color: #9cc9ea;
    color: #2b6cb0;
    transform: translateY(-2px);
}

/* 當前被選中的頁碼 */
.pagination button.active {
  background-color: #333;
  color: #fff;
  border-color: #333;
  font-weight: bold;
}

/* 停用按鈕（如：第一頁時的「上一頁」） */
.pagination button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
